################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DABAssignment2/DAB__2_Solution_grp23/DAB_2_Solution/.vs/DAB_2_Solution/FileContentIndex/24f596b0-21d5-40c9-866a-83999cd7b151.vsidx
